.vscode/**
.github/**
src/**
out/**
node_modules/**
*.vsix
esbuild.mjs
tsconfig.json
tsconfig.test.json
vitest.config.mts
flake.nix
flake.lock
.gitignore
.direnv/**
docs/**
test/**
docs/**
.vscode-test/**
package-lock.json
dist/**/*.map
architecture/**
result